<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mock Calendar Page</title>
</head>

<body>







  <div class="page-container">
    <div class="header visible-sm visible-xs">
      <div class="container-fluid relative">
        <div class="pull-left full-height visible-sm visible-xs">
          <div class="header-inner">
            <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5"
              data-toggle="sidebar">
              <span class="icon-set menu-hambuger"></span>
            </a>
          </div>
        </div>
        <div class="pull-center hidden-md hidden-lg">
          <div class="header-inner">
            <div class="brand inline">
              <img src="https://app.holded.com/box/account/5c24e2e9a265641b565b0671?p=5c24e2e9a265641b565b0671"
                alt="logo" class="accountlogo" height="22">
            </div>
          </div>
        </div>
      </div>
      <div class="pull-left sm-table hidden-xs hidden-sm">
        <div class="header-inner">
          <div class="brand inline">
            <img src="https://app.holded.com/box/account/5c24e2e9a265641b565b0671?p=5c24e2e9a265641b565b0671"
              class="accountlogo" alt="logo" height="35">
          </div>
        </div>
      </div>
    </div>
    <div class="page-content-wrapper">
      <div class="content">
        <div id="loader" style="display: none;">
          <div><img src="/assets/img/loaders/bars.svg"><br><span></span></div>
        </div>
        <div class="container-fluid sm-gutter p-t-20 container-fixed-lg">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="c-month-table__header">
                    <div class="c-month-selector">
                      <span class="cursor-pointer js-back showloader"><i class="fa fa-chevron-left fa-fw"></i></span>
                      <div class="c-month-selector__title">
                        <span class="js-current-month"></span>
                        <span class="js-current-year"></span>
                      </div>
                      <span class="cursor-pointer js-next showloader"><i class="fa fa-chevron-right fa-fw"></i></span>
                    </div>
                  </div>
                  <div class="c-day-table">
                    <div class="c-day-table__rows">
                      <!-- USER DETAILS ############################################# -->
                      <div class="c-cell c-cell--row-header" data-name="USERNAME"
                        data-team="5d8d06046a9728312b1636f0,5f5b3e25e67d8f69d3182662"
                        data-workplace="5d8d02f96a972817df3a48d6" data-workingdays="mon,tue,wed,thu,fri"
                        data-employee="5f1a8cf6d67be468f27a1de3">
                        <span>MY NAME COMPLETE</span>
                      </div>
                      <!-- END ############################################# -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>