<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="panel panel-default panel-widget m-b-10">
    <div class="panel-heading">
      <span>Control horario</span>
    </div>
    <div class="panel-body text-center">
      <div class="clockcontainer">
        <div class="text-center text-dark clockout_item ocult">
          <i class="fal fa-stopwatch fa-fw"></i> <span class="clocktimer" data-tmp="0"></span>
        </div>
        <button class="btn btn-default btn-block btn-lg bold m-t-5 clockout_item btnclockout ocult">
          <i class="fas fa-circle text-success fa-fw fa-xs"></i>
          <span class="ml-1">Salir</span>
        </button>
        <button class="btn btn-primary btn-block btn-lg bold m-t-5 clockin_item btnclockin ">
          <i class="fas fa-circle text-white fa-fw fa-xs"></i>
          <span class="ml-1">Entrar</span>
        </button>
      </div>
    </div>
  </div>
</body>

</html>