<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mock Page</title>
</head>

<body>
  <div class="container-fluid sm-gutter m-t-50 container-fixed-lg">
    <div class="loginwrap">
      <div class="text-center">
        <img src="" height="50">
        <h1 class="m-b-0 m-t-10">Header</h1>
      </div>
      <div class="loginbox m-t-30">
        <form id="tp_signin" method="" action="/home" class="form-signin">
          <h4 class="m-t-0 m-b-20 text-primary bold text-center">Acceder</h4>
          <div class="form-group form-group-default">
            <label for="tpemail">Tu email de empresa</label>
            <input type="text" id="tpemail" class="form-control" name="tpemail" value="" required="">
          </div>
          <div class="form-group form-group-default">
            <label for="tppassword">Contraseña</label>
            <input type="password" id="tppassword" class="form-control" name="tppassword" required="">
          </div>
          <button id="btnlogin" class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
          <div class="text-right m-t-10 small">
            <a href="" class="">Recuperar contraseña</a>
          </div>
        </form>
      </div>

    </div>
  </div>
</body>

</html>